.about {
    width: 75%;
    margin: 0 auto;
}

.about-more {
    background-color: #f2f2f2;
    height: 300px;
}

.about-icon i {
    font-size: 40px;
    font-weight: bold;
}

.accordion-item .accordion-item-design  {
    background-color: #f1efef;
}


.accordion-item .accordion-item-design:not(.collapsed)  {
    background-color: #ee4343;
    color: #fff;
    outline: none !important;
    border: none !important;
}

.customers-say {
    background-color: #f2f2f2;
}

.carousel-custom button {
    background-color: #ee4343 !important;
}

