.bi-trash {
    font-size: 20px;
}

.bi-trash:hover {
    color: #ee4343;
}

.bi-plus, 
.bi-dash-lg {
    color: #333;
}

.total-btn a {
    border: 1px solid #656565;
    color: #333;
}

.total-btn a:hover {
    border: 1px solid #ee4343 !important;
}

.total-btn-active {
    background: #ee4343 !important;
    border: 1px solid #ee4343 !important;
    color: #fff !important;
}

.total-btn-active:hover {
    color: #ee4343 !important;
    background-color: transparent !important;
}